.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: 	#4d4d4d;
}

.logo {
    width: 100px;
    height: 100px;
    transition: .3s;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 30px;
    color: #FFF;
    text-decoration: none;
}

.avatar {
    width: 80px;
    height: 80px;
    transition: .3s;
}

