.section-one {
    display: flex;
    height: fit-content;
}

.div-text {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5%;
}

.text {
    text-align: justify;
    line-height: 25px;
}

.image {
    height: 100%;
    width: calc(0.5 * 100vw);
}

.div-image {
    flex: 1;
    height: 100%;
}

.section-two {
    display: flex;
    height: fit-content;
}


